body {
  overflow-x: hidden !important;
}
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #24252a;
  color: white;
  padding: 10px;
  font-size: 1.35rem;
  font-stretch: expanded;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between; /* Align items to the start and end */
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 5%;
  padding-left: 5%;
}
.Footer * {
  margin-bottom: 10px;
}
.Footer svg {
  margin-bottom: 0px;
}
.Footer label {
  margin-left: 20px; /* Adjust as needed */
}

.Footer button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 1.5rem;
}
.btns {
  position: relative;
  left: 5%;
}
.Footer button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  color: rgb(247, 250, 251);
}

.PlaceHolder {
  background-color: #24252ace;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15vh;
}
body::-webkit-scrollbar {
  display: none;
}
.Contain {
  display: flex;
  flex-wrap: wrap; /* Allows the cards to wrap to the next line */
  justify-content: center; /* Centers the cards horizontally */
  gap: 20px; /* Adds space between cards */
  background-color: #24252ace;
}
@media only screen and (max-width: 800px) {
  .Footer {
    font-size: 0.9rem;
    padding: 5px;
  }
  .Footer label {
    margin-left: 10px;
  }
  .Footer button {
    padding: 4px 12px;
    border-radius: 25px;
    font-size: 1rem;
  }
  .btns {
    left: 8%;
  }
  @media only screen and (max-width: 800px) {
    .Footer {
      font-size: 0.9rem;
      padding: 5px;
    }
    .Footer label {
      margin-left: 10px;
    }
    .Footer button {
      padding: 4px 12px;
      border-radius: 25px;
      font-size: 1rem;
    }
    .btns {
      left: 8%;
    }
    .Contain {
      width: 100% !important;
      padding-left: 13px !important;
    }
  }
}
@media only screen and (max-width: 400px) {
  .Contain {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 0px !important;
    background-color: #24252ace !important;
  }
  .Contain div {
    flex-basis: 45% !important;
    transform: translateX(-5%) !important;
  }
}
